@import "../variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $thisBlue;
}
// =========================HEADER======================================
.headerAndMain {
  margin: 4%;
  display: flex;
  flex-direction: column;
  gap: 15vh;
}

header {
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 2fr 10fr 1.7fr;
  gap: 1%;
  align-items: center;
}

.pagesIcon {
  max-width: 119px;
  max-height: 35px;
  white-space: nowrap;
}

.navigation {
  display: flex;
  justify-content: space-around;
}
.navigation {
  a {
    text-decoration: none;
    color: $color;
    @include w400sz17;
    cursor: pointer;
  }
}

.threeBtnContainer {
  display: flex;
  justify-content: space-between;
  gap: 4%;
}

.threeBtnContainer {
  .threeBtn {
    height: 45px;
    width: 45px;
  }
}

.orderToday {
  background-color: $thisYellow;
  border: none;
  color: $thisBlue;
  @include button;
  white-space: nowrap;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}
// ===================MAIN=================================

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img {
  display: flex;
  justify-content: center;
}
.welcomeToPages {
  display: grid;
  grid-template-rows: 2fr 1fr 3fr 0.7fr 3fr 2.5fr 2fr;
  align-content: center;
}

h2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $color;
}

h1 {
  font-size: 64px;
  color: $color;
}

.welcomeToPages {
  p {
    color: $color;
    @include w400sz21;
  }
}

.btnA {
  a {
    @include w400sz19;
    text-decoration: underline;
    color: $color;
  }
}

.btnA {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4%;
}

.welcomeToPages {
  ul {
    li {
      dl {
        color: $color;
      }
    }
  }
}

.welcomeToPages {
  ul {
    li {
      dl {
        dt {
          color: $color;
          @include w400sz24;
        }
      }
    }
  }
}

.welcomeToPages {
  ul {
    li {
      dl {
        dd {
          @include w400sz17;
        }
      }
    }
  }
}

.welcomeToPages {
  ul {
    li {
      list-style-image: url(../images/dot.png);
    }
  }
}

.welcomeToPages {
  ul {
    display: flex;
    justify-content: flex-start;
    gap: 10%;
    padding-left: 3%;
  }
}

// =============================FOOTER=================================

footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr 2fr;
}

.fourBtnContainer {
  display: flex;
  justify-content: flex-start;
  gap: 4%;
}

.fourBtnContainer {
  .fourBtn {
    height: 45px;
    width: 45px;
    border: solid 2px $thisYellow;
    background-color: $thisBlue;
  }
}

.footerGrid {
  .footerP {
    color: $color;
    @include w400sz24;
  }
  ul {
    li {
      color: $thisAzure;
      list-style-type: none;
      list-style-position: inside;
      list-style-image: url(../images/smallDots2.png);
    }
  }
}

.nav {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.footerGrid {
  .nav {
    .navOne {
      p {
        color: $color;
        @include w400sz18;
      }
    }
  }
  .navOne {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .navTwo {
    p {
      color: #b4c7e7;
      @include w400sz17;
    }
  }
}
