* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1b3764;
}

.headerAndMain {
  margin: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15vh;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 1% 1.2fr 1% 2fr 1% 10fr 1% 1.7fr;
  grid-template-columns: 1.2fr 1.2fr 2fr 10fr 1.7fr;
  gap: 1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagesIcon {
  max-width: 119px;
  max-height: 35px;
  white-space: nowrap;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navigation a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 17px;
  cursor: pointer;
}

.threeBtnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4%;
}

.threeBtnContainer .threeBtn {
  height: 45px;
  width: 45px;
}

.orderToday {
  background-color: #ffca42;
  border: none;
  color: #1b3764;
  font-weight: 400;
  font-size: 19px;
  width: 222px;
  height: 66px;
  white-space: nowrap;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcomeToPages {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 1fr 3fr 0.7fr 3fr 2.5fr 2fr;
  grid-template-rows: 2fr 1fr 3fr 0.7fr 3fr 2.5fr 2fr;
  -ms-flex-line-pack: center;
      align-content: center;
}

h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

h1 {
  font-size: 64px;
  color: white;
}

.welcomeToPages p {
  color: white;
  font-weight: 400;
  font-size: 21px;
}

.btnA a {
  font-weight: 400;
  font-size: 19px;
  text-decoration: underline;
  color: white;
}

.btnA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4%;
}

.welcomeToPages ul li dl {
  color: white;
}

.welcomeToPages ul li dl dt {
  color: white;
  font-weight: 400;
  font-size: 24px;
}

.welcomeToPages ul li dl dd {
  font-weight: 400;
  font-size: 17px;
}

.welcomeToPages ul li {
  list-style-image: url(../images/dot.png);
}

.welcomeToPages ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10%;
  padding-left: 3%;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1.5fr 2fr;
  grid-template-columns: 2fr 1fr 1.5fr 2fr;
}

.fourBtnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 4%;
}

.fourBtnContainer .fourBtn {
  height: 45px;
  width: 45px;
  border: solid 2px #ffca42;
  background-color: #1b3764;
}

.footerGrid .footerP {
  color: white;
  font-weight: 400;
  font-size: 24px;
}
.footerGrid ul li {
  color: #b4c7e7;
  list-style-type: none;
  list-style-position: inside;
  list-style-image: url(../images/smallDots2.png);
}

.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
}

.footerGrid .nav .navOne p {
  color: white;
  font-weight: 400;
  font-size: 18px;
}
.footerGrid .navOne {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.footerGrid .navTwo p {
  color: #b4c7e7;
  font-weight: 400;
  font-size: 17px;
}