* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  padding: 4%;
  background-color: #1b3764;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 1% 1.2fr 1% 2fr 1% 10fr 1% 1.7fr;
  grid-template-columns: 1.2fr 1.2fr 2fr 10fr 1.7fr;
  gap: 1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagesIcon {
  max-width: 119px;
  max-height: 35px;
  white-space: nowrap;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navigation a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 17px;
  cursor: pointer;
}

.threeBtnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4%;
}

.threeBtnContainer .threeBtn {
  height: 45px;
  width: 45px;
}

.orderToday {
  background-color: #ffca42;
  border: none;
  color: #1b3764;
  font-weight: 400;
  font-size: 19px;
  width: 222px;
  height: 66px;
  white-space: nowrap;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}

h1 {
  color: #1b3764;
  font-weight: 400;
  font-size: 42px;
  text-align: center;
  padding: 4%;
}

.dexcription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4%;
  gap: 4%;
}

.dexcription div {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4fr 2fr 2fr;
  grid-template-rows: 4fr 2fr 2fr;
  max-width: 313px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.name {
  font-weight: 400;
  font-size: 24px;
  color: #1b3764;
}

.desc {
  color: #969aa0;
  font-weight: 400;
  font-size: 19px;
  text-align: center;
}

.secondArticle {
  background-color: #1b3764;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4%;
  margin-bottom: 0.1%;
}

.text {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 0.7fr 1fr;
  grid-template-rows: 1fr 0.7fr 1fr;
  padding: 4%;
}

h2 {
  color: white;
  font-weight: 400;
  font-size: 54px;
}

.text p {
  font-weight: 400;
  font-size: 19px;
  color: #b4c7e7;
  max-width: 539px;
}

footer {
  padding: 4%;
  background-color: #1b3764;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1.5fr 2fr;
  grid-template-columns: 2fr 1fr 1.5fr 2fr;
}

.fourBtnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 4%;
}

.fourBtnContainer .fourBtn {
  height: 45px;
  width: 45px;
  border: solid 2px #ffca42;
  background-color: #1b3764;
}

.footerGrid .footerP {
  color: white;
  font-weight: 400;
  font-size: 24px;
}
.footerGrid ul li {
  color: #b4c7e7;
  list-style-type: none;
  list-style-position: inside;
  list-style-image: url(../images/smallDots2.png);
}

.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
}

.footerGrid .nav .navOne p {
  color: white;
  font-weight: 400;
  font-size: 18px;
}
.footerGrid .navOne {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.footerGrid .navTwo p {
  color: #b4c7e7;
  font-weight: 400;
  font-size: 17px;
}