@import "../variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// =========================HEADER==================================

header {
  background-color: $thisBlue;
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 2fr 10fr 1.7fr;
  gap: 1%;
  align-items: center;
  padding: 4%;
}

.pagesIcon {
  max-width: 119px;
  max-height: 35px;
  white-space: nowrap;
}

.navigation {
  display: flex;
  justify-content: space-around;
}
.navigation {
  a {
    text-decoration: none;
    color: $color;
    @include w400sz17;
    cursor: pointer;
  }
}

.threeBtnContainer {
  display: flex;
  justify-content: space-between;
  gap: 4%;
}

.threeBtnContainer {
  .threeBtn {
    height: 45px;
    width: 45px;
  }
}

.orderToday {
  background-color: $thisYellow;
  border: none;
  color: $thisBlue;
  @include button;
  white-space: nowrap;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}
// ========================MAIN====================================
main {
  background-color: $color;
  margin: 3%;
}

h1 {
  @include forH1;
  text-align: center;
  padding: 3%;
}

.books {
  display: flex;
  justify-content: space-evenly;
  padding: 4%;
}

.book {
  display: flex;
  justify-content: space-between;
}
.book {
  ul {
    li {
      list-style-position: inside;
      color: $thisBlue;
      @include w400sz24;
      list-style-image: url(/images/yellowDot.png);
    }
  }
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
}

.bookName {
  color: $thisBlue;
  font-weight: 400;
  font-size: 32px;
}

.price {
  color: $thisYellow;
  @include w400sz21;
}

.descript {
  color: $thisGray;
  @include w400sz19;
  max-width: 287px;
}

.secondArticle {
  padding: 4%;
  display: flex;
  justify-content: center;
  gap: 15vw;
}
.aboutAuthor {
  display: grid;
  grid-template-rows: 1fr 1.3fr 2.5fr 2.5fr 2.5fr;
  padding: 3%;
}

h2 {
  @include forH1;
}
.secondArticle {
  p {
    max-width: 559px;
    @include w400sz19;
    color: $thisGray;
  }
}
.QR {
  background-color: $thisBlue;
  padding: 2%;
}

// ===========================FOOTER=================================
footer {
  padding: 4%;
  background-color: $thisBlue;
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr 2fr;
}

.fourBtnContainer {
  display: flex;
  justify-content: flex-start;
  gap: 4%;
}

.fourBtnContainer {
  .fourBtn {
    height: 45px;
    width: 45px;
    border: solid 2px $thisYellow;
    background-color: $thisBlue;
  }
}

.footerGrid {
  .footerP {
    color: $color;
    @include w400sz24;
  }
  ul {
    li {
      color: $thisAzure;
      list-style-type: none;
      list-style-position: inside;
      list-style-image: url(../images/smallDots2.png);
    }
  }
}

.nav {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.footerGrid {
  .nav {
    .navOne {
      p {
        color: $color;
        @include w400sz18;
      }
    }
  }
  .navOne {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .navTwo {
    p {
      color: #b4c7e7;
      @include w400sz17;
    }
  }
}
