@import "../variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.padd {
  padding: 4%;
}

// =========================HEADER==================================

header {
  background-color: $thisBlue;
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 2fr 10fr 1.7fr;
  gap: 1%;
  align-items: center;
}

.pagesIcon {
  max-width: 119px;
  max-height: 35px;
  white-space: nowrap;
}

.navigation {
  display: flex;
  justify-content: space-around;
}
.navigation {
  a {
    text-decoration: none;
    color: $color;
    @include w400sz17;
    cursor: pointer;
  }
}

.threeBtnContainer {
  display: flex;
  justify-content: space-between;
  gap: 4%;
}

.threeBtnContainer {
  .threeBtn {
    height: 45px;
    width: 45px;
  }
}

.orderToday {
  background-color: $thisYellow;
  border: none;
  color: $thisBlue;
  @include button;
  white-space: nowrap;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}
// ========================MAIN====================================

// ===========================FOOTER=================================
footer {
  background-color: $thisBlue;
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr 2fr;
}

.fourBtnContainer {
  display: flex;
  justify-content: flex-start;
  gap: 4%;
}

.fourBtnContainer {
  .fourBtn {
    height: 45px;
    width: 45px;
    border: solid 2px $thisYellow;
    background-color: $thisBlue;
  }
}

.footerGrid {
  .footerP {
    color: $color;
    @include w400sz24;
  }
  ul {
    li {
      color: $thisAzure;
      list-style-type: none;
      list-style-position: inside;
      list-style-image: url(../images/smallDots2.png);
    }
  }
}

.nav {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.footerGrid {
  .nav {
    .navOne {
      p {
        color: $color;
        @include w400sz18;
      }
    }
  }
  .navOne {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .navTwo {
    p {
      color: #b4c7e7;
      @include w400sz17;
    }
  }
}
