* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: #1b3764;
  padding: 4%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 1% 1.2fr 1% 2fr 1% 10fr 1% 1.7fr;
  grid-template-columns: 1.2fr 1.2fr 2fr 10fr 1.7fr;
  gap: 1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagesIcon {
  max-width: 119px;
  max-height: 35px;
  white-space: nowrap;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navigation a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 17px;
  cursor: pointer;
}

.threeBtnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4%;
}

.threeBtnContainer .threeBtn {
  height: 45px;
  width: 45px;
}

.orderToday {
  background-color: #ffca42;
  border: none;
  color: #1b3764;
  font-weight: 400;
  font-size: 19px;
  width: 222px;
  height: 66px;
  white-space: nowrap;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}

h1 {
  color: #1b3764;
  font-weight: 400;
  font-size: 42px;
  text-align: center;
  padding-top: 8%;
}

.points {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding: 4%;
}

.points > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.points > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.points > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.points > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.pointsAndImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 6%;
}

.points p {
  max-width: 303px;
  max-height: 272px;
  color: #1b3764;
  font-weight: 400;
  font-size: 24px;
  position: relative;
  text-align: left;
  margin: 5%;
}

#one::before {
  content: "01";
  color: #1b3764;
  background-color: #ffca42;
  border-radius: 50%;
  padding: 3%;
  position: absolute;
  bottom: 140%;
}

#two::before {
  content: "02";
  color: #1b3764;
  background-color: #ffca42;
  border-radius: 50%;
  padding: 3%;
  position: absolute;
  bottom: 140%;
}

#three::before {
  content: "03";
  color: #1b3764;
  background-color: #ffca42;
  border-radius: 50%;
  padding: 3%;
  position: absolute;
  bottom: 140%;
}

#four::before {
  content: "04";
  color: #1b3764;
  background-color: #ffca42;
  border-radius: 50%;
  padding: 3%;
  position: absolute;
  bottom: 140%;
}

h2 {
  color: #1b3764;
  font-weight: 400;
  font-size: 42px;
  text-align: center;
}

.threeGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5% 1fr 1.5% 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5%;
  padding: 6%;
}

.artName {
  font-weight: 400;
  font-size: 24px;
  color: #1b3764;
  text-align: left;
}

.article {
  font-weight: 400;
  font-size: 19px;
  color: #969aa0;
}

.date {
  text-align: right;
  color: #1b3764;
  font-weight: 400;
  font-size: 19px;
}

.text {
  padding: 8%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 7% 3fr 7% 0.5fr;
  grid-template-rows: 2fr 3fr 0.5fr;
  gap: 7%;
}

.threeGrid div {
  -webkit-box-shadow: 4px 4px 10px rgb(238, 237, 237);
          box-shadow: 4px 4px 10px rgb(238, 237, 237);
  max-width: 420px;
  max-height: 622px;
  border-radius: 5px;
}

footer {
  background-color: #1b3764;
  padding: 4%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1.5fr 2fr;
  grid-template-columns: 2fr 1fr 1.5fr 2fr;
}

.fourBtnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 4%;
}

.fourBtnContainer .fourBtn {
  height: 45px;
  width: 45px;
  border: solid 2px #ffca42;
  background-color: #1b3764;
}

.footerGrid .footerP {
  color: white;
  font-weight: 400;
  font-size: 24px;
}
.footerGrid ul li {
  color: #b4c7e7;
  list-style-type: none;
  list-style-position: inside;
  list-style-image: url(../images/smallDots2.png);
}

.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
}

.footerGrid .nav .navOne p {
  color: white;
  font-weight: 400;
  font-size: 18px;
}
.footerGrid .navOne {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.footerGrid .navTwo p {
  color: #b4c7e7;
  font-weight: 400;
  font-size: 17px;
}