@import "../variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// =========================HEADER======================================
header {
  background-color: $thisBlue;
  padding: 4%;
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 2fr 10fr 1.7fr;
  gap: 1%;
  align-items: center;
}

.pagesIcon {
  max-width: 119px;
  max-height: 35px;
  white-space: nowrap;
}

.navigation {
  display: flex;
  justify-content: space-around;
}
.navigation {
  a {
    text-decoration: none;
    color: $color;
    @include w400sz17;
    cursor: pointer;
  }
}

.threeBtnContainer {
  display: flex;
  justify-content: space-between;
  gap: 4%;
}

.threeBtnContainer {
  .threeBtn {
    height: 45px;
    width: 45px;
  }
}

.orderToday {
  background-color: $thisYellow;
  border: none;
  color: $thisBlue;
  @include button;
  white-space: nowrap;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}
// ===================MAIN=================================
h1 {
  font-weight: 400;
  font-size: 42px;
  text-align: center;
  color: $thisBlue;
  padding-top: 8%;
}
.points {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 4%;
}

.pointsAndImg {
  display: flex;
  justify-content: space-evenly;
  padding: 6%;
}
.points {
  p {
    max-width: 303px;
    max-height: 272px;
    color: $thisBlue;
    @include w400sz24;
    position: relative;
    text-align: left;
    margin: 5%;
  }
}

#one::before {
  content: "01";
  @include forBefore;
}

#two::before {
  content: "02";
  @include forBefore;
}

#three::before {
  content: "03";
  @include forBefore;
}

#four::before {
  content: "04";
  @include forBefore;
}

h2 {
  color: $thisBlue;
  font-weight: 400;
  font-size: 42px;
  text-align: center;
}
.threeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 1.5%;
  padding: 6%;
}

.artName {
  @include w400sz24;
  color: $thisBlue;
  text-align: left;
}

.article {
  @include w400sz19;
  color: #969aa0;
}

.date {
  text-align: right;
  color: $thisBlue;
  @include w400sz19;
}

.text {
  padding: 8%;
  display: grid;
  grid-template-rows: 2fr 3fr 0.5fr;
  gap: 7%;
}

.threeGrid {
  div {
    box-shadow: 4px 4px 10px rgb(238, 237, 237);
    max-width: 420px;
    max-height: 622px;
    border-radius: 5px;
  }
}
// =============================FOOTER=================================

footer {
  background-color: $thisBlue;
  padding: 4%;
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr 2fr;
}

.fourBtnContainer {
  display: flex;
  justify-content: flex-start;
  gap: 4%;
}

.fourBtnContainer {
  .fourBtn {
    height: 45px;
    width: 45px;
    border: solid 2px $thisYellow;
    background-color: $thisBlue;
  }
}

.footerGrid {
  .footerP {
    color: $color;
    @include w400sz24;
  }
  ul {
    li {
      color: $thisAzure;
      list-style-type: none;
      list-style-position: inside;
      list-style-image: url(../images/smallDots2.png);
    }
  }
}

.nav {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.footerGrid {
  .nav {
    .navOne {
      p {
        color: $color;
        @include w400sz18;
      }
    }
  }
  .navOne {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .navTwo {
    p {
      color: #b4c7e7;
      @include w400sz17;
    }
  }
}
